<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.1" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee">

  <display-name>Archetype Created Web Application</display-name>

 <servlet-mapping>
   <servlet-name>AssortmentCofe</servlet-name>
   <url-pattern>/assortmentcoffe</url-pattern>
 </servlet-mapping>
  <servlet>
    <servlet-name>AssortmentCofe</servlet-name>
    <servlet-class>Controller.ControllerServlet.AssortmentCoffeController</servlet-class>
  </servlet>

    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>Controller.ControllerServlet.OrderCoffeController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Error</servlet-name>
        <servlet-class>Controller.ControllerServlet.CotrollerError</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Greeting</servlet-name>
        <url-pattern>/greeting</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Greeting</servlet-name>
        <servlet-class>Controller.ControllerServlet.HelloController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>Controller.ControllerServlet.ContactController</servlet-class>
    </servlet>


  <servlet-mapping>
    <servlet-name>PreOrderCoffe</servlet-name>
    <url-pattern>/preordercoffe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PreOrderCoffe</servlet-name>
    <servlet-class>Controller.ControllerServlet.PreOrderCoffeController</servlet-class>
  </servlet>
</web-app>
